Alli Black <black.alli@gmail.com>
Barney Potter <barney.potter.24@gmail.com>
Emma Hodcroft <emmahodcroft@gmail.com>
Emma Hodcroft <freezefire666@yahoo.com>
Gytis Dudas <gytisdudas@gmail.com>
James Hadfield <jameshadfield@users.noreply.github.com>
James Hadfield <jh22@sanger.ac.uk>
John Huddleston <huddlej@gmail.com>
Louise Moncla <lhmoncla@gmail.com>
Richard Neher <neher@login10.cluster.bc2.ch>
Richard Neher <neher@login11.cluster.bc2.ch>
Richard Neher <neher@login20.cluster.bc2.ch>
Richard Neher <richard.neher@tuebingen.mpg.de>
Richard Neher <richard.neher@unibas.ch>
Sarah Murata <sarah.d.murata@gmail.com>
Sidney Bell <sidneymb@uw.edu>
Sidney Bell <sidneymbell@users.noreply.github.com>
Thomas Sibley <tsibley@fredhutch.org>
Trevor Bedford <trevor@bedford.io>
Trevor Bedford <trvrb@trevorbedford.com>
