h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

/* Wrap long content and limit column width to ~60 characters */
.wrap-children-60ch > * {
    max-width: 60ch;
    white-space: normal;
}
