name: CI
on:
  push:
    branches:
      - master

  # Routinely check that tests pass with new versions of dependencies.
  schedule:
    # Every day at 17:42 UTC / 9:42 Seattle (winter) / 10:42 Seattle (summer)
    - cron: "42 17 * * *"

  pull_request:

  workflow_dispatch:

  workflow_call:
    inputs:
      version:
        required: true
        type: string

jobs:
  pytest-cram:
    name: pytest-cram (python=${{ matrix.python-version }} biopython=${{ matrix.biopython-version || 'latest' }} numpy=${{ matrix.numpy-version || 'latest' }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          # All supported Python versions with the earliest compatible versions
          # of Biopython¹ and Numpy²
          # ¹ <https://github.com/biopython/biopython/blob/master/NEWS.rst>
          # ² <https://numpy.org/doc/stable/release>
          - { python-version: '3.10', biopython-version: '1.80', numpy-version: '1.21.3' }
          - { python-version: '3.14', biopython-version: ''    , numpy-version: ''       }

    defaults:
      run:
        shell: bash -l {0}

    steps:
    - uses: actions/checkout@v6

    - name: Set cache key
      run: echo "DATE=$(date +'%Y-%m-%d')" >> "$GITHUB_ENV"

    # While it may be tempting to install Augur using Conda to avoid hardcoding
    # the list of dependencies here, installing just the dependencies not
    # available on PyPI allows us to test against dependencies installed by pip,
    # which may have slightly different versions compared to Conda counterparts.
    - name: Install dependencies from Conda
      uses: mamba-org/setup-micromamba@v2
      with:
        # cvxopt is a pip dependency that isn't prebuilt for Python 3.14 on PyPI
        # (yet). It is already prebuilt on conda, so install it here.
        create-args: >-
          mafft raxml fasttree iqtree vcftools seqkit sqlite tsv-utils
          biopython=${{ matrix.biopython-version }}
          numpy=${{ matrix.numpy-version }}
          python=${{ matrix.python-version }}
          ${{ matrix.python-version == '3.14' && 'cvxopt' || '' }}
        condarc: |
          channels:
            - conda-forge
            - bioconda
          channel_priority: strict
        cache-environment: true
        cache-environment-key: ${{ env.DATE }}
        environment-name: augur

    # Replace the Conda Augur installation with the local version.
    - run: pip install .[dev]
    - run: pip list
    - run: conda info
    - run: conda list

    # Run with coverage on the earliest supported Python version
    - name: Set coverage environment variables
      if: matrix.python-version == '3.10'
      run: |
        echo "COVERAGE_FILE=${{ github.workspace }}/.coverage@python=${{ matrix.python-version }},biopython=${{ matrix.biopython-version || 'latest' }}" >> "$GITHUB_ENV"
        echo "COVERAGE_RCFILE=${{ github.workspace }}/.coveragerc" >> "$GITHUB_ENV"
        if python3 -c 'import sys; print(sys.version_info >= (3, 14))' | grep -q True; then
            echo "Using sysmon for coverage to reduce overhead"
            echo COVERAGE_CORE=sysmon >> "$GITHUB_ENV"
        else
            echo "Using default coverage collection method"
        fi

    - name: Run pytest
      run: |
        if [[ -n "${COVERAGE_FILE:-}" ]]; then
          echo "Running pytest with coverage enabled"
          pytest --cov=augur
        else
          echo "Running pytest without coverage"
          pytest --no-cov
        fi
    - name: Run cram tests
      run: |
        if [[ -n "${COVERAGE_FILE:-}" ]]; then
          echo "Running cram tests with coverage enabled"
          export AUGUR="coverage run -a ${{ github.workspace }}/bin/augur"
        else
          echo "Running cram tests without coverage"
          export AUGUR="${{ github.workspace }}/bin/augur"
        fi
        cram tests/
    - name: Upload coverage
      if: env.COVERAGE_FILE
      uses: actions/upload-artifact@v6
      with:
        name: coverage
        include-hidden-files: true
        path: "${{ env.COVERAGE_FILE }}"
