name: Release
run-name: Release ${{ inputs.version }}

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'New version X.X.X'
        required: true
        type: string
jobs:
  run:
    uses: ./.github/workflows/ci.yaml
    secrets: inherit
    with:
      version: ${{ inputs.version }}
